<%- model_class = President -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:icon) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <style>
.middle{
    width: 30%;
}
  </style>
  <tbody>
    <% @presidents.each do |president| %>
      <tr>
        <td><%= link_to president.id, president_path(president) %></td>
        <td><%= president.name %></td>
        <td><%= image_tag icon_president_path(president), :size => "120x120" %></td>
        <td><%= president.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_president_path(president), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      president_path(president),
                      :method => :delete,
                      :data => { :conpresident => t('.conpresident', :default => t("helpers.links.conpresident", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @presidents.empty? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
        new_president_path,
        :class => 'btn btn-primary' %>
<% end %>
