<%- model_class = President -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @president.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:icon) %>:</strong></dt>
  <dd><%= image_tag icon_president_path(@president) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              presidents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_president_path(@president), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              president_path(@president),
              :method => 'delete',
              :data => { :conpresident => t('.conpresident', :default => t("helpers.links.conpresident", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
